body {
  background-color: #505050;
}

#canvas-section,
#form-section {
  display: flex;
  justify-content: center;
}
#canvas {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #ececec;
}

.layout-form {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  color: white;
}

.label-input {
  margin-bottom: 5px;
}

.layout-form-input {
  width: 400px;
}

.images-items {
  width: 100px;
  height: 100%;
}

/* TOOL BAR */
.toolbar-container {
  margin: 20px;
}

.label-tool-icon {
  width: 40px;
  height: 40px;
  font-size: 1em;
  background: #232323;
  padding: 10px;
  border-radius: 5px;
}

.label-tool-icon:hover {
  background: linear-gradient(to bottom right, rgba(162, 255, 255, 0.25) 0%, rgba(126, 126, 255, 0.25) 100%);
  padding: 10px;
  border-radius: 5px;
}


.label-tool-icon.selected-tool:hover {
  background: linear-gradient(to bottom right, rgb(162, 255, 255) 0%, rgb(126, 126, 255) 100%);
  padding: 10px;
  border-radius: 5px;
}

.selected-tool {
  background: linear-gradient(to bottom right, #00ffff 0%, #3333cc 100%);
}
